@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// global

.user-dp {
    width: 50px; 
    height: 50px;
    background-color: #1c9bef;
    border-radius: 50%;
    padding: 5px;
}

// login css
.login-container {
    width: 100vw;
    height: 100vh; 
    background-color: #242d35; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik';
}


.login-dialog {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.login-content {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem;
    min-width: 600px;
}


.login-header {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    padding: 10px 0
}

.login-buttons {
    background-color: #fff; 
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 15px;
    padding: 10px 60px;
    gap: 10px
}

.line-style {
    border-top-color: #2d3032;
    border-width: 1px; 
    width: 50%;
    border-top-style: solid;
}


.login-username {
    color: #fff;
    padding: 15px 10px; 
    flex: 1;
    font-size: 17px; 
    border: 1px solid #2d3032;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

.login-username:focus {
    outline: none !important;
    border-color: #1c9bef;
}

.email {
    display: 'flex'; 
    gap: 4;
    background-color: #111214; 
    flex-direction: 'column';
    padding: 8px;
    border-radius: 10px;
}


// home page css

.home {
    display: flex; 
    height: 100vh;
    flex: 1;
    color: #D6D9DB !important;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}



// navbar css
.navbar {
    flex: 0.4;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid rgb(47, 51, 54);
    gap: 20px;

    .navbar-container {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .post-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c9bef; 
        color: #D6D9DB !important;
        padding: 15px 90px; 
        border-radius: 25px;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 15px;

        .fullname {
            text-transform: capitalize;
            font-weight: bold;
            font-size: 20px;
        }

        .username {
            font-size: 18px;
            color: #5f6467;
        }

    }
}



//  feed css
.feed {
    flex: 1.4;
    height: 100%;
    border-right: 1px solid rgb(47, 51, 54);

    .feed-header {
        flex: 1; 
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(47, 51, 54);

        .feed-header-nav {
            flex: 1;
            display: flex; 
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            .for-you {
                flex: 1;
                display: flex;
                justify-content: center; 
                align-items: center;

                &:hover {
                    background-color: #2b2b2c;
                    cursor: pointer;
                    .text {
                        background-color: #2b2b2c;
                    }
                }
                .text { 
                    padding: 15px 
                } 
            }

            .following {
                flex: 1;
                display: flex; 
                justify-content: center;
                align-items: center; 

                &:hover {
                    background-color: #2b2b2c;
                    cursor: pointer;
                    .text {
                        background-color: #2b2b2c;
                    }
                }
                .text { padding: 15px; }
            }
        }

        .settings-icon {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            .text { padding: 15px }
        }
    }

    .create-post {
        border-bottom: 1px solid rgb(47, 51, 54);
        display: flex; 
        flex-direction: column; 
        gap: 15px;
        padding: 12px 15px;

        .top-part {
            flex: 1;
            display: flex; 
            flex-direction: row;
            gap: 15px;

            .user-dp {
                width: 50px; 
                height: 50px;
                background-color: #1c9bef;
                border-radius: 50%;
                padding: 5px;
            }

            #post-input {
                font-size: 20px;
                padding: 10px 0;
                flex: 1;
                border: none;
                color: #fff;
                resize: none;
                background-color: rgb(0, 0, 0);

                &:focus {
                    outline: none;
                    border-bottom: 1px solid rgb(47, 51, 54);
                }
            }
        }

        .bottom-part {
            flex: 1;
            display: flex;
            flex-direction: row; 
            justify-content: space-between;
            align-items: center;

            div { flex: 0.15 }

            .media-icons {
                flex: 1;
                display: flex; 
                flex-direction: row; 
                gap: 15px; 
                color: #1c9bef;

            }
            .post-button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1c9bef; 
                color: #D6D9DB !important;
                padding: 10px 20px; 
                border-radius: 20px;
                list-style: none;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

}

.vertical-line {
    background-color: rgb(47, 51, 54);
    width: 1px;
    height: 100vh;
}

// sidebar css 16181c
.sidebar {
    flex: 0.8;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    .search-input {
        display: flex;
        gap: 20px;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;

        background-color: #202327;
        border-radius: 20px;
        border-radius: 20px;
        font-size: 14px;
        input {
            background-color: #202327;
            width: 100%;
            color: #fff;
            border: none;
            font-size: 15px;
            
            &:focus {
                outline: none;
            }
        }
    }

    .subscribe {
        display: flex;
        flex-direction: column; 
        gap: 10px;
        padding: 18px;
        background-color: rgb(22, 24, 28);
        border-radius: 15px;

        .heading {
            font-weight: 800; 
            font-size: 20px;
            color: #fff;
            background-color: #16181c !important;
        }

        .desc {
            color: #fff;
            font-size: 16px;
            background-color: #16181c !important;
        }

        .subscribe-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1c9bef; 
            color: #D6D9DB !important;
            padding: 10px; 
            border-radius: 20px;
            list-style: none;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            width: 40%;
        }
    }
}


// Post Card 

.post-card {
    padding: 12px 15px;
    display: flex;    
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    
    .top-container {
        display: flex;
        align-items: flex-start; 
        gap: 15px;

        .header {
            display: flex;
            gap: 10px;

            .user-name {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
    .bottom-container {
        display: flex;
        justify-content: space-around;


        .likes, .comments, .reposts, .bookmarks {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.commentModal {
    background: rgb(0, 0, 0) !important;
    border-radius: 10px;
    border: 1.5px solid rgb(47, 51, 54);
    color: #fff;
    width: 50%;
    padding: 0;

    .post-modal {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .top-container {
        display: flex;
        align-items: flex-start; 
        gap: 15px;
        padding-top: 10px;

        .header {
            display: flex;
            gap: 10px;

            .user-name {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }

    .post-reply {
        display: flex;
        gap: 15px;

        .post-input {
            font-size: 20px;
            padding: 10px 0;
            flex: 1;
            border: none;
            color: #fff;
            resize: none;
            background-color: rgb(0, 0, 0);
    
            &:focus {
                outline: none;
            }
        }
    }

    .bottom-part {
        flex: 1;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;

        div {
            flex: 0.01;
        }

        .media-icons {
            flex: 1;
            display: flex; 
            flex-direction: row; 
            gap: 15px; 
            color: #1c9bef;

        }
        .reply-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1c9bef; 
            color: #D6D9DB !important;
            padding: 10px 20px; 
            border-radius: 20px;
            list-style: none;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
        }
    }

}


// Chats 
.chats {
    flex: 1.2;
    height: 100%;
}

.users {
    flex: 0.9;
    display: flex; 
    flex-direction: column; 
    gap: 25px;
    height: 100%;
    border-right: 1px solid rgb(47, 51, 54);
    padding: 15px;

    .heading {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 

        .messages {
            font-weight: bold;
            font-size: 22px;
        }

        .send-mail {
            display: flex; 
            justify-content: space-between;
            gap: 12px;
        }
    }

         .search-input {
             display: flex;
             gap: 20px;
             padding: 10px 15px;
             justify-content: center;
             align-items: center;
    
             background-color: #202327;
             border-radius: 20px;
             border-radius: 20px;
             font-size: 14px;
    
             input {
                 background-color: #202327;
                 width: 100%;
                 color: #fff;
                 border: none;
                 font-size: 15px;
    
                 &:focus {
                     outline: none;
                 }
             }
         }
}

