@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: row; 
    flex: 1;
}

.left {
    width: 30%;
    height: 100vh;
    border-right: 2px solid #1D1F21;
}

.middle {
    width: 40%;
    height: 100vh;
}

.right {
    width: 30%;
    height: 100vh;
    border-left: 2px solid #1D1F21;
}

.login-container {
    width: 100vw;
    height: 100vh; 
    background-color: #242d35; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik';
}


.login-dialog {
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.login-content {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem;
    min-width: 600px;
}


.login-header {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    padding: 10px 0
}

.login-buttons {
    background-color: #fff; 
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 15px;
    padding: 10px 60px;
    gap: 10px
}

.line-style {
    border-top-color: #2d3032;
    border-width: 1px; 
    width: 50%;
    border-top-style: solid;
}


.login-username {
    color: #fff;
    padding: 15px 10px; 
    flex: 1;
    font-size: 17px; 
    border: 1px solid #2d3032;
    border-radius: 5px
}

.login-username:focus {
    outline: none !important;
    border-color: #1c9bef;
}

.email {
    display: 'flex'; 
    gap: 4;
    background-color: #111214; 
    flex-direction: 'column';
    padding: 8px;
    border-radius: 10px;
}

.home {
    display: flex; 
    height: 100vh;
    flex: 1;
    color: #D6D9DB !important;
}

.navbar {
    flex: 1;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid rgb(47, 51, 54);
    gap: 20px;

    .navbar-container {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .post-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c9bef; 
        color: #D6D9DB !important;
        padding: 15px 90px; 
        border-radius: 25px;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 15px;

        .fullname {
            text-transform: capitalize;
            font-weight: bold;
            font-size: 20px;
        }

        .username {
            font-size: 18px;
            color: #5f6467;
        }
    }
}

.feed {
    flex: 2;
}

.sidebar {
    flex: 1;
}
