@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// variables 
$twitter-blue: #1c9bef;
$black: rgb(0, 0, 0);
$white: #fff;
$line: rgb(47, 51, 54);
$modalOverlay: rgba(36, 45, 53, 0.7);


// global

.pd-10 { padding: 10px }

.user-dp {
    width: 44px; 
    height: 44px;
    background-color: $twitter-blue;
    border-radius: 50%;
    padding: 5px;
}

.flex-row {
    display: flex; 
    flex-direction: row; 
}

.flex-row-10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.flex-row-none-center-10 {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    gap: 10px;
}

.flex-row-space-between-center {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.flex-col-5 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.font-bold {
    font-weight: bold;
}



// login css
.login-container {
    width: 100vw;
    height: 100vh; 
    background-color: #242d35; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik';
}


.login-dialog {
    background-color: $black;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.login-content {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem;
    min-width: 600px;
}


.login-header {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    padding: 10px 0
}

.login-buttons {
    background-color: $white; 
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 15px;
    padding: 10px 60px;
    gap: 10px
}

.line-style {
    border-top-color: #2d3032;
    border-width: 1px; 
    width: 50%;
    border-top-style: solid;
}


.login-username {
    color: $white;
    padding: 15px 10px; 
    flex: 1;
    font-size: 17px; 
    border: 1px solid #2d3032;
    border-radius: 5px;
    background-color: $black;
}

.login-username:focus {
    outline: none !important;
    border-color: $twitter-blue;
}

.email {
    display: 'flex'; 
    gap: 4;
    background-color: #111214; 
    flex-direction: 'column';
    padding: 8px;
    border-radius: 10px;
}


// home page css

.home {
    display: flex; 
    height: 100vh;
    flex: 1;
    color: #D6D9DB !important;
    overflow: hidden;
    background-color: $black;
}



// navbar css
.navbar {
    flex: 0.4;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid $line;
    gap: 20px;

    .navbar-container {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px; 
        cursor: pointer;
    }

    .post-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $twitter-blue; 
        color: #D6D9DB !important;
        padding: 15px 90px; 
        border-radius: 25px;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 15px;

        .fullname {
            text-transform: capitalize;
            font-weight: bold;
            font-size: 20px;
        }

        .username {
            font-size: 18px;
            color: #5f6467;
        }

    }
}



//  feed css
.feed {
    flex: 1.4;
    height: 100%;
    border-right: 1px solid $line;

    .feed-header {
        flex: 1; 
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $line;

        .feed-header-nav {
            flex: 1;
            display: flex; 
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            .for-you {
                flex: 1;
                display: flex;
                justify-content: center; 
                align-items: center;

                &:hover {
                    background-color: #2b2b2c;
                    cursor: pointer;
                    .text {
                        background-color: #2b2b2c;
                    }
                }
                .text { 
                    padding: 15px 
                } 
            }

            .following {
                flex: 1;
                display: flex; 
                justify-content: center;
                align-items: center; 

                &:hover {
                    background-color: #2b2b2c;
                    cursor: pointer;
                    .text {
                        background-color: #2b2b2c;
                    }
                }
                .text { padding: 15px; }
            }
        }

        .settings-icon {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            .text { padding: 15px }
        }
    }

    .create-post {
        border-bottom: 1px solid $line;
        display: flex; 
        flex-direction: column; 
        gap: 15px;
        padding: 12px 15px;

        .top-part {
            flex: 1;
            display: flex; 
            flex-direction: row;
            gap: 15px;

            #post-input {
                font-size: 20px;
                padding: 10px 0;
                flex: 1;
                border: none;
                color: $white;
                resize: none;
                background-color: $black;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid $line;
                }
            }
        }

        .bottom-part {
            flex: 1;
            display: flex;
            flex-direction: row; 
            justify-content: space-between;
            align-items: center;

            div { flex: 0.15 }

            .media-icons {
                flex: 1;
                display: flex; 
                flex-direction: row; 
                gap: 15px; 
                color: $twitter-blue;

            }
            .post-button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $twitter-blue; 
                color: #D6D9DB !important;
                padding: 10px 20px; 
                border-radius: 20px;
                list-style: none;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

}

.vertical-line {
    background-color: $line;
    width: 1px;
    height: 100vh;
}

// sidebar css 16181c
.sidebar {
    flex: 0.8;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    .search-input {
        display: flex;
        gap: 20px;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;

        background-color: #202327;
        border-radius: 20px;
        border-radius: 20px;
        font-size: 14px;
        input {
            background-color: #202327;
            width: 100%;
            color: $white;
            border: none;
            font-size: 15px;
            
            &:focus {
                outline: none;
            }
        }
    }

    .subscribe {
        display: flex;
        flex-direction: column; 
        gap: 10px;
        padding: 18px;
        background-color: rgb(22, 24, 28);
        border-radius: 15px;

        .heading {
            font-weight: 800; 
            font-size: 20px;
            color: $white;
            background-color: #16181c !important;
        }

        .desc {
            color: $white;
            font-size: 16px;
            background-color: #16181c !important;
        }

        .subscribe-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $twitter-blue; 
            color: #D6D9DB !important;
            padding: 10px; 
            border-radius: 20px;
            list-style: none;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            width: 40%;
        }
    }
}


// Post Card 

.post-card {
    padding: 12px 15px;
    display: flex;    
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid $line;
    border-right: 1px solid $line;
    
    .top-container {
        display: flex;
        align-items: flex-start; 
        gap: 15px;

        .header {
            display: flex;
            gap: 10px;

            .user-name {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
    .bottom-container {
        display: flex;
        justify-content: space-around;


        .likes, .comments, .reposts, .bookmarks {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.commentModal {
    background: $black !important;
    border-radius: 10px;
    border: 1.5px solid $line;
    color: $white;
    width: 50%;
    padding: 0;

    .post-modal {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .top-container {
        display: flex;
        align-items: flex-start; 
        gap: 15px;
        padding-top: 10px;

        .header {
            display: flex;
            gap: 10px;

            .user-name {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }

    .post-reply {
        display: flex;
        gap: 15px;

        .post-input {
            font-size: 20px;
            padding: 10px 0;
            flex: 1;
            border: none;
            color: $white;
            resize: none;
            background-color: $black;
    
            &:focus {
                outline: none;
            }
        }
    }

    .bottom-part {
        flex: 1;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;

        div {
            flex: 0.01;
        }

        .media-icons {
            flex: 1;
            display: flex; 
            flex-direction: row; 
            gap: 15px; 
            color: $twitter-blue;

        }
        .reply-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $twitter-blue; 
            color: #D6D9DB !important;
            padding: 10px 20px; 
            border-radius: 20px;
            list-style: none;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
        }
    }

}

.commentModalOverlay {
    background: $modalOverlay !important;
}


// Chats 
.chats {
    flex: 1.2;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 0fr 8fr 0fr;

    .search-input {
            display: flex;
            gap: 20px;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
    
            background-color: #202327;
            border-radius: 15px;
            font-size: 14px;
    
            input {
                background-color: #202327;
                width: 100%;
                color: $white;
                border: none;
                font-size: 15px;
    
                &:focus {
                    outline: none;
                }
            }
    }

    .messages {
        display: flex;
        flex-direction: column;
        .message {
            padding: 15px; 
            background-color: $twitter-blue; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-wrap: wrap;
            margin-bottom: 5px;
        }

        .date {
            font-size: 12px;
            color: #71767a;
        }
    }

    .text-box {
        width: 100%;
        border-top: 1px solid $line;
        position: sticky; 
        bottom: 0; 
        z-index: 3;
    }
}

 // users mail modal 
 .messageModal {
     background: $black !important;
     border-radius: 10px;
     border: 1.5px solid $line;
     color: $white;
     padding: 0 !important;
     width: 50%;

     .messageModalContainer {
        margin-top: 20px;
     }

     .message {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 0 15px;
        margin-bottom: 10px;

        .next-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            color: $black;
            padding: 10px 15px;
            border-radius: 15px;
            list-style: none;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
        }
     }

     .search {
        border-bottom: 1px solid $line;
        padding-bottom: 5px;
        .search-input {
            display: flex;
            gap: 20px;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
    
            background-color: $black;
            font-size: 14px;
            input {
                background-color: $black;
                width: 100%;
                color: $white;
                border: none;
                font-size: 15px;
    
                &:focus {
                    outline: none;
                }
            }
        }
     }

 }

 .messageModalOverlay {
    background: $modalOverlay !important;
 }

.users {
    flex: 0.9;
    display: flex; 
    flex-direction: column; 
    gap: 25px;
    height: 100%;
    border-right: 1px solid $line;
    overflow: auto;
    
    .heading {
        padding: 0 15px;
        padding-top: 15px;
        display: flex; 
        justify-content: space-between; 
        align-items: center;

        .messages {
            font-weight: bold;
            font-size: 22px;
        }

        .send-mail {
            display: flex; 
            justify-content: space-between;
            gap: 12px;
        }
    }

    .search {
        padding: 0 15px;
        .search-input {
            display: flex;
            gap: 20px;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
    
            background-color: #202327;
            border-radius: 20px;
            font-size: 14px;
    
            input {
                background-color: #202327;
                width: 100%;
                color: $white;
                border: none;
                font-size: 15px;
    
                &:focus {
                    outline: none;
                }
            }
        }
    }


    .users-list {
        display: flex; 
        flex-direction: column; 
        padding-top: 20px;
        gap: 30x; 
        
        .user {
            padding: 15px;
        }
    }
}

